global
        log 127.0.0.1 local0
        maxconn 4096
        daemon

defaults
        log global
        mode http
        option httplog
        option dontlognull
        retries 3
        option redispatch
        maxconn 2000
        timeout connect 86400
        timeout client 86400
        timeout server 86400

listen  stats *:82
        mode            http
        log             global

        maxconn 10

                timeout connect 100s
                timeout client  100s
                timeout server  100s
                timeout queue   100s

        stats enable
        stats hide-version
        stats refresh 30s
        stats show-node
        stats auth admin:12345678
        stats uri  /haproxy?stats

frontend http-in
        bind *:8282
        default_backend servers

backend servers
        option httpchk OPTIONS /ServletGradle
        option httpchk OPTIONS /ServletMaven
        option forwardfor
        option http-server-close
        appsession JSESSIONID len 52 timeout 3h
        server appNode1 192.168.56.6:8080 check inter 5000
        server appNode2 192.168.56.7:8080 check inter 5000

